@mixin menuBotones($tema) {

    ul {   
        background-color: map.get($tema, "colorPrimario");
        list-style: none;
        text-align: center;
        margin:0;
        li {
            display: inline-block;
            border: 1px solid map.get($tema, "colorSecundario");
            border-radius: 10px;
            padding: 10px;
            text-align: center;
            margin-top: 20px;

            a {
                text-decoration: none;
                color: map.get($tema, "colorTerciario");
            }

            a:hover,
            :active {
                text-decoration: none;
                color: map.get($tema, "colorSecundario");
            }
        }

        li:hover {
            background-color: map.get($tema, "colorCuadruple");
        }
    }
}
@mixin pestanias ($tema) {
        
    ul{
        list-style: none;
        display: flow-root;
        margin: 0;
        margin-top: 15px;
    }

    ul>li{
        border-radius: 10px 10px 0px 0px;
        float: left;
        padding: 1em;
        background-color: map.get($tema, "colorCuadruple");
        margin:0;
        margin-left: 1em;
    }
    ul>li:active{
        
        background-color: map.get($tema, "colorTerciario");
        border-bottom: 0px;
    }
    ul>li>a{
        text-decoration: none;
    }

    ul+div{
        background-color: map.get($tema, "colorTerciario");
        height:440px;
        position: relative;
        padding-top:1em ;
    }
}